
body {
	font-size: 1rem;
	font-family:  'Lucida Console', monospace;
	line-height: 1.5;
    background-color: #273136;
    color: #3dc548;
}

header {
    background-color: #202a30;
    color: inherit;
    margin-bottom: 1rem;
    text-align: center;
}

button, .btn {
	display: inline-block;
    margin: 10px 10px;
    padding: .25rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #314149;
    color: inherit;
    font-family: inherit;
    opacity: 0.85;
	font-size: 1.2rem;
    line-height: 1.5;
	/*cursor: pointer;*/
    box-shadow: 0px 0px #1c2327;
    transition: all 0.2s ease-in-out;
    /*font-weight: bold;*/
}

button:hover {
	opacity: 1;
    transform: translate(2px, 2px);
    box-shadow: -5px -5px #1c2327;
}

button:focus {
	outline: thin solid inherit;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button-icon {
	display: inline-block;
    position: relative;
    top: -0.1em;
    vertical-align: middle;
	margin-right: 0.317rem;
}

#typewriter {
    margin: 0 auto;
    letter-spacing: .15em;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
    /*border-right: .15em solid inherit;*/
    /*animation: blink-caret 1.5s step-end infinite;*/
}

.huge {
    font-size: 3rem;
}

.central-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202a30;
}

.box {
    background-color: #202a30;
    padding: 15px;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    max-width: 80%;
}

.central-title {
    padding: 0;
    margin: 0;
}

.central-flavor {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    position: relative;
    align-self: center;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 5px 15px;
    font-style: italic;
    background-color: #202a30d8;
    border-width: 0;
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: inherit; }
}

